.input-layout{
  border: 1px solid #d8d8d8;
  padding: 8px;
  border-radius: 10px;
  position: relative;
  top: 10px;
  margin-bottom: 20px;
}
.input-label__numberoflab{
  position: relative;
  top: 8px;
}
.input-label--methodname{
  width: 100px;
}
.input-label__result{
  text-align: center;
}
.input-box__name{
  width: 60px;
}
.input-box__number{
  width: 80px;
}
.input-box__name, .input-box__number{
  height: 30px !important;
  padding: 4px !important;
  margin: 4px 10px;
}
.input-label__id{
  margin: auto;
}
.input-form{
  display: flex;
  flex-direction: row;
  margin: 4px 0px !important;
}
.icon{
  width: 20px;
  height: 20px;
}

.input-form--numlabs{
  display: flex;
}

.tb-header{
  text-align: center;
}
.tb-header--input{
  width: 100px;
}

@media (max-width: 769px) and (min-width: 376px){
  .input-box__name{
      width: 40px;
  }
  .input-box__number{
      width: 50px;
  }
  td{
      padding: 0.1px;
  }
  .input-box__name, .input-box__number{
      height: 30px !important;
      padding: 0.5px !important;
      margin: 2px;
  }
}